:host {
  background: white;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow-y: auto;
}
.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  vertical-align: middle;
}
